/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 mag 2022, 11:42:04
    Author     : lory8
*/

*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}
footer,header,nav{
    display:block
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:.5rem
}
dl,ol,ul{
    margin-top:0;
    margin-bottom:1rem
}
small{
    font-size:80%
}
a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
img{
    vertical-align:middle;
    border-style:none
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}

[type=reset],[type=submit],button,html [type=button]{
    -webkit-appearance:button
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    margin-bottom:.5rem;
    font-family:inherit;
    font-weight:500;
    line-height:1.2;
    color:inherit;
}
.h1,h1{
    font-size:2.5rem
}
.h2,h2{
    font-size:2rem
}
.h3,h3{
    font-size:1.75rem
}
.h4,h4{
    font-size:1.5rem
}
.small,small{
    font-size:80%;
    font-weight:400
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
@media (min-width:576px){
    .container{
        max-width:540px
    }
}
@media (min-width:768px){
    .container{
        max-width:720px
    }
}
@media (min-width:992px){
    .container{
        max-width:960px
    }
}
@media (min-width:1200px){
    .container{
        max-width:1140px
    }
}
.container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-sm-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
.col-md-4{
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%
}
.col-md-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
.col-md-8{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%
}
.col-md-12{
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%
}
.offset-md-2{
    margin-left:16.666667%
}
.collapse:not(.show){
    display:none
}
.nav-link{
    display:block;
    padding:.5rem 1rem
}
.navbar{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:.5rem 1rem
}
.navbar>.container,.navbar>.container-fluid{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.navbar-brand{
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap
}
.navbar-nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.navbar-nav .nav-link{
    padding-right:0;
    padding-left:0
}
.navbar-collapse{
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-align:center;
    align-items:center
}
.navbar-toggler{
    padding:.25rem .75rem;
    font-size:1.25rem;
    line-height:1;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:.25rem
}
.navbar-toggler:not(:disabled):not(.disabled){
    cursor:pointer
}
@media (min-width:992px){
    .navbar-expand-lg{
        -ms-flex-flow:row nowrap;
        flex-flow:row nowrap;
        -ms-flex-pack:start;
        justify-content:flex-start
    }
    .navbar-expand-lg .navbar-nav{
        -ms-flex-direction:row;
        flex-direction:row
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position:absolute
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right:.5rem;
        padding-left:.5rem
    }
    .navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid{
        -ms-flex-wrap:nowrap;
        flex-wrap:nowrap
    }
    .navbar-expand-lg .navbar-collapse{
        display:-ms-flexbox!important;
        display:flex!important;
        -ms-flex-preferred-size:auto;
        flex-basis:auto
    }
    .navbar-expand-lg .navbar-toggler{
        display:none
    }
}
.close{
    float:right;
    font-size:1.5rem;
    font-weight:700;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:.5
}
.close:not(:disabled):not(.disabled){
    cursor:pointer
}
body {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    margin:0;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff

}
p {
    margin-top:0;
    margin-bottom: 0px;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 25px;
}
a {
    text-decoration: none!important;
}
a.main-button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border: none;
    margin-left: 10px;
    background-color: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
a.main-button:hover {
    background-color: #00a4b9;
}
a.gradient-button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border: none;
    margin-left: 10px;
    background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
a.gradient-button:hover {
    background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(50,100,245,1) 0%, rgba(114,2,187,1) 100%);
}

.section-heading span {
    color: #00bcd4;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-top: 0px;
}
.section-heading h2 {
    color:#00bcd4;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}
.section-heading p {
    font-size: 15px;
}
.content{
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Header Style */
header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(250,250,250,0.30);
    height: 80px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    min-width: 500px;
}
.navbar .navbar-brand {
    float: 	left;
    margin-top: 12px;
    outline: none;
}
.navbar .navbar-brand h2 {
    color: #00a4b9;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #1e1e1e;
    transition: all 0.5s;
    margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #00bcd4;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #00bcd4;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}
.functional-buttons {
    margin-left: 11%;
}
.functional-buttons	ul {
    margin: 0;
    padding: 0;
}
.functional-buttons	ul li {
    display: inline-block;
    margin-left: 10px;
}
.functional-buttons	ul li a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.functional-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}

/* Banner Style */
.banner {
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 500px;
    background-position: center center;
    max-height: 700px;
}
.banner .caption {
    text-align: center;
}
.banner .caption h1 {
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
}
.banner .caption h3 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
}

/* Services Style */
.services-section {
    margin-top: 140px;
}
.services-section .section-heading h2 {
    color: #00bcd4;

}
.services-section .service-item {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 50px 40px;
    text-align: center;
    margin-bottom: 30px;
}
.services-page .service-item {
    margin-bottom: 30px;
}
.services-section .service-item h4 {
    margin-top: 35px;
    font-size: 19px;
    color: #00bcd4;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

/* Features Style */
.features-section {
    margin-top: 130px;
}
.features-section .section-heading {
    text-align: center;
}
.features-section .section-heading h2 {
    color: #1e1e1e;
}
.features-section .feature-item {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}
.features-section .feature-item .icon {
    float: left;
    margin-top: 12px;
}
.features-section .feature-item .icon img {
    max-width: 80px;
    margin-right: 30px;
}
.features-section .feature-item h4 {
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.features-section .feature-item p {
    margin-left: 106px;
}

/* Info Style */
.info-section {
    margin-top: 80px;
    background-color: #f7f7f7;
    padding: 80px 0px;
}
.info-section .section-heading {
    text-align: center;
}
.info-section .section-heading h2 {
    color: #00bcd4;
}
.info {
    padding: 140px 0px;
    background-color: #f7f7f7;
}
.info .left-content {
    margin-right: 30px;

}
.info .right-content {
    margin-left: 30px;
}
.info .left-content {
    max-width: 100%;
    overflow: hidden;
}
.info .section-heading {
    margin-bottom: 40px;
    border-bottom: 3px solid #eee;
    padding-bottom: 40px;
}

/* Footer Style */
footer {
    background-color: #00bcd4;
    text-align: center;
    padding: 80px 0px 60px 0px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 2;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 67.86px
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/*Style Catalogo*/
.prod {
    margin-bottom: 8px;
    min-width: 1110px;
    margin-top: 50px;
}
.prod .oneitem {
    padding: 10px;
    height: 250px;
    border-bottom: 2px solid #00bcd4;
}
.prod .titlepro {
    padding-left: 20px;
    margin-bottom: 0;
    color: #00bcd4;
}
.prod .titlepro a {
    color: #000000;
    border: none;
}
.prod .adress{
    padding-left: 20px;

}
.prod .metapro {
    padding-left: 20px;
    font-size: 14px;
    font-style: italic;
    clear: both;
}
.prod .imagepro {
    float:left;
    text-align: left;
    width: 230px;
    height: inherit;
}
.prod .imagepro .imagefrm {
    width: 200px;
    height: 180px;

}
.prod .infopro{
    float:left;
    width: 700px;
    height: inherit;
}
.prod .infopro .propapp{

    height: 20px;
    width: inherit;
    float: left;
    padding-left: 20px;
    margin-bottom: 5px;

}
.prod .infopro .propapp .casel{
    float: left;
    margin-right: 10px;
}
.prod .pricebox{
    float:left;
    width: 140px;
    margin-top: 115px;
}
.prod .pricebox .price{
    color: #424954;
    font-family: Verdana;
    padding-right: 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: right;
}
.prod .pricebox .discprice{
    color: #CC0000;
    font-family: Verdana;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}
.prod .pricebox .details-buttons{
    margin-left: 11%;
}
.prod .pricebox .details-buttons ul {
    margin: 0;
    padding: 0;
}
.prod .pricebox .details-buttons	ul li {
    display: inline-block;
    margin-left: 10px;
}
.prod .pricebox .details-buttons	ul li a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.prod .pricebox .details-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}
/* Paginetor Style*/
#pagination {
    display: inline-block;
    padding-left: 35%;
    min-width: 1110px;
}
#pagination a {
    border-bottom: none;
    color: #00bcd4
}

/* Details Style */
.details{
    min-width: 900px;
    display: block;
}
.details    h1{
    color: #00bcd4;
    display: flex;
    justify-content: center;
    margin-top: 20px
}
.details .imgdet{
    text-align: center;
    margin-bottom: 10px;
}
.details .descr{
    margin: 20px 0;
    text-align: left;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 25px;
}
.details .tablecar{
    display: flex;
    justify-content: center;
}
.details .tablecar  table {
    border-collapse: collapse;
    width: 100%;
}

.details .tablecar  th, td {
    text-align: center;
    padding: 8px;
}

.details .tablecar  tr:nth-child(even){
    background-color: #f2f2f2;
}

.details .tablecar  th {
    background-color: #00bcd4;
    color: white;
}
.details .tablecar .checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.details .tablecar .checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: green;
    border-radius:11px;
    left:0;
    top:0;
}
.details .tablecar .checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}
.details .tablecar .checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}




/* F.A.Q. style */
.faq{
    margin-bottom: 10px;
    min-width: 1110px;
}
.faq h2{
    text-align: center;
}
.faq .faqdom{
    font-weight: bolder;
    margin-top: 30px;
    border-bottom: 2px dashed #00bcd4;

}
.faq .faqrisp{
    font-style: italic;
    margin-bottom: 20px;

}

/* Responsive Style */
@media (max-width: 1200px) {
    .banner #search-section input.main-button {
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner #search-section input.searchText {
        float: none;
        width: 100%;
    }
    #search-section ul {
        text-align: center;
        margin-top: 80px;
    }
    #search-section ul li {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    #search-section ul li fieldset label {
        font-size: 12px;
        margin-left: 5px;
    }
    #search-section ul li fieldset label em {
        font-size: 13px;
    }
    .contact-us .right-content ul li {
        text-align: center;
        width: 100%;
    }
    .contact-us .right-content ul li i {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 991px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 10px;
    }
    .functional-buttons {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translate(-50%);
        margin-left: 15px;
    }
    .banner #search-section fieldset button {
        margin-top: 0px;
    }
    .banner #search-section fieldset input {
        width: 100%;
        min-width: 280px;
        margin-bottom: 30px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }
    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e!important;
    }
    .navbar .navbar-nav .active>.nav-link {
        color: #00bcd4!important;
    }
    .about-us .left-image {
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .about-us .right-content,
    .contact-us .right-content {
        margin-left: 0px;
    }
    .contact-us .contact-form {
        margin-right: 0px;
        margin-bottom: 45px;
    }
    .contact-us .right-content ul {
        margin-bottom: 30px;
    }
    .contact-us .right-content ul li {
        text-align: left;
        width: 100%;
    }
    .contact-us .right-content ul li i {
        margin-left: 0px;
    }
}
@media (max-width: 767px) {
    .pricing-item  {
        margin-bottom: 55px;
    }
    .footer-item {
        margin-bottom: 60px;
    }
    footer .sub-footer {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .functional-buttons	ul li:first-child a {
        padding: 6px 10px;
        letter-spacing: 0px;
    }
    .functional-buttons	ul li:last-child a {
        padding: 6px 10px;
        letter-spacing: 0px;
    }
    .functional-buttons {
        margin-left: 7.5%;
    }
    .functional-buttons	ul li {
        display: inline-block;
        margin-left: 3px;
    }
    .navbar .navbar-toggler {
        right: 20px;
    }
    .background-header .functional-buttons	ul li:first-child a {
        padding: 6px 10px;
        letter-spacing: 0px;
    }
}

/* Style PopUp*/
.overlayppu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}
.overlayppu:target {
    visibility: visible;
    opacity: 1;
}
.screen {
    background: linear-gradient(90deg, #00BCD2, #7C78B8);
    position: relative;
    height: 600px;
    min-width: 360px;
}
.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}
.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}
.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}
.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 72px;
}

/*Log-In Style*/
.popuplog {
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    position: relative;

}
.popuplog .close {
    position: absolute;
    top: 13px;
    right: -20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.popuplog .close:hover {
    color: #06D85F;
}
.login {
    width: 320px;
    padding: 30px;
    padding-top: 50px;
}
.login__field {
    padding: 20px 0px;
    position: relative;
}
.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}
.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}
.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #00BCD5;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 50%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5c5696;
    cursor: pointer;
    transition: .2s;
}
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.popupreg {
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    position: relative;

}
.popupreg .close {
    position: absolute;
    top: 13px;
    right: 0px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.popupreg .close:hover {
    color: #06D85F;
}
.register {
    width: inherit;
    padding: 30px;
    padding-top: 50px;
}
.register__field {
    padding-right: 113px;
    padding-top: 30px;
    position: relative;
}
.register__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}
.register__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}
.register__input:active,
.register__input:focus,
.register__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}
.register__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 90px;
    border-radius: 26px;
    border: 1px solid #00BCD5;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 50%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5c5696;
    cursor: pointer;
    transition: .2s;
}
.register__submit:active,
.register__submit:focus,
.register__submit:hover {
    border-color: #6A679E;
    outline: none;
}

#contentreg {

    margin:auto;
    overflow: hidden;
    display: inline-flex;

}
#leftreg{

    width: 300px;

}
#rightreg {

    width:700px;

}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

/* Truncating Text */
.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* Prevents Div Overlapping */
.no-overlap {
    min-width: 400px;
}

/* Sets Image Size in "details.blade.php" */
.imgsize {
    width: 600px;
    height: 400px;
}



