/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 mag 2022, 11:42:04
    Author     : lory8
*/

*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}
footer,header,nav{
    display:block
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:.5rem
}
dl,ol,ul{
    margin-top:0;
    margin-bottom:1rem
}
small{
    font-size:80%
}
a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
img{
    vertical-align:middle;
    border-style:none
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}

[type=reset],[type=submit],button,html [type=button]{
    -webkit-appearance:button
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    margin-bottom:.5rem;
    font-family:inherit;
    font-weight:500;
    line-height:1.2;
    color:inherit;
}
.h1,h1{
    font-size:2.5rem
}
.h2,h2{
    font-size:2rem
}
.h3,h3{
    font-size:1.75rem
}
.h4,h4{
    font-size:1.5rem
}
.small,small{
    font-size:80%;
    font-weight:400
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    min-width:auto;
}

.inner-container{
    min-height: 500px;
    padding-top: 20px;
}

@media (min-width:576px){
    .container{
        max-width:540px
    }
}
@media (min-width:768px){
    .container{
        max-width:720px
    }
}
@media (min-width:992px){
    .container{
        max-width:960px
    }
}
@media (min-width:1200px){
    .container{
        max-width:1140px
    }
}
.container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-sm-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
.col-md-4{
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%
}
.col-md-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
.col-md-8{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%
}
.col-md-12{
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%
}
.offset-md-2{
    margin-left:16.666667%
}
.collapse:not(.show){
    display:none
}
.nav-link{
    display:block;
    padding:.5rem 1rem
}
.navbar{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:.5rem 1rem
}
.navbar>.container,.navbar>.container-fluid{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.navbar-brand{
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap
}
.navbar-nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.navbar-nav .nav-link{
    padding-right:0;
    padding-left:0
}
.navbar-collapse{
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-align:center;
    align-items:center
}
.navbar-toggler{
    padding:.25rem .75rem;
    font-size:1.25rem;
    line-height:1;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:.25rem
}
.navbar-toggler:not(:disabled):not(.disabled){
    cursor:pointer
}
@media (min-width:992px){
    .navbar-expand-lg{
        -ms-flex-flow:row nowrap;
        flex-flow:row nowrap;
        -ms-flex-pack:start;
        justify-content:flex-start
    }
    .navbar-expand-lg .navbar-nav{
        -ms-flex-direction:row;
        flex-direction:row
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        position:absolute
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right:.5rem;
        padding-left:.5rem
    }
    .navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid{
        -ms-flex-wrap:nowrap;
        flex-wrap:nowrap
    }
    .navbar-expand-lg .navbar-collapse{
        display:-ms-flexbox!important;
        display:flex!important;
        -ms-flex-preferred-size:auto;
        flex-basis:auto
    }
    .navbar-expand-lg .navbar-toggler{
        display:none
    }
}
.close{
    float:right;
    font-size:1.5rem;
    font-weight:700;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:.5
}
.close:not(:disabled):not(.disabled){
    cursor:pointer
}
body {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    margin:0;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff

}
p {
    margin-top:0;
    margin-bottom: 0px;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 25px;
}
a {
    text-decoration: none!important;
}
a.main-button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border: none;
    margin-left: 10px;
    background-color: #00bcd4;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
a.main-button:hover {
    background-color: #00a4b9;
}
a.gradient-button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border: none;
    margin-left: 10px;
    background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
a.gradient-button:hover {
    background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(50,100,245,1) 0%, rgba(114,2,187,1) 100%);
}

.section-heading span {
    color: #00bcd4;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-top: 0px;
}
.section-heading h2 {
    color:#00bcd4;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}
.section-heading p {
    font-size: 15px;
}
.content{
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Header Style */
header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(250,250,250,0.30);
    height: 80px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    min-width: 500px;
}
.navbar .navbar-brand {
    float: 	left;
    margin-top: 12px;
    outline: none;
}
.navbar .navbar-brand h2 {
    color: #00a4b9;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #1e1e1e;
    transition: all 0.5s;
    margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #00bcd4;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #00bcd4;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}
.functional-buttons {
    margin-left: 11%;
}
.functional-buttons	ul {
    margin: 0;
    padding: 0;
}
.functional-buttons	ul li {
    display: inline-block;
    margin-left: 10px;
}
.functional-buttons	ul li a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.functional-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}

/* Banner Style */
.banner {
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 500px;
    background-position: center center;
    max-height: 700px;
}
.banner .caption {
    text-align: center;
}
.banner .caption h1 {
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
}
.banner .caption h3 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
}

/* Services Style */
.services-section {
    margin-top: 140px;
}
.services-section .section-heading h2 {
    color: #00bcd4;

}
.services-section .service-item {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 50px 40px;
    text-align: center;
    margin-bottom: 30px;
}
.services-page .service-item {
    margin-bottom: 30px;
}
.services-section .service-item h4 {
    margin-top: 35px;
    font-size: 19px;
    color: #00bcd4;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

/* Features Style */
.features-section {
    margin-top: 130px;
}
.features-section .section-heading {
    text-align: center;
}
.features-section .section-heading h2 {
    color: #1e1e1e;
}
.features-section .feature-item {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}
.features-section .feature-item .icon {
    float: left;
    margin-top: 12px;
}
.features-section .feature-item .icon img {
    max-width: 80px;
    margin-right: 30px;
}
.features-section .feature-item h4 {
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.features-section .feature-item p {
    margin-left: 106px;
}

/* Info Style */
.info-section {
    margin-top: 80px;
    background-color: #f7f7f7;
    padding: 80px 0px;
}
.info-section .section-heading {
    text-align: center;
}
.info-section .section-heading h2 {
    color: #00bcd4;
}
.info-section .map-content{
    text-align: center;
    margin: 50px 0px 100px 0px;
}
.info .section-heading {
    margin-bottom: 40px;
    border-bottom: 3px solid #eee;
    padding-bottom: 40px;
}

/* Footer Style */
footer {
    background-color: #00bcd4;
    text-align: center;
    padding: 80px 0px 60px 0px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 2;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 67.86px
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/*Style Catalogo*/
.prod {
    margin-bottom: 8px;
    min-width: 1110px;
    margin-top: 50px;
}
.prod .oneitem {
    padding: 10px;
    height: 250px;
    border-bottom: 2px solid #00bcd4;
}
.prod .titlepro {
    padding-left: 20px;
    margin-bottom: 0;
    color: #00bcd4;
}
.prod .titlepro a {
    color: #000000;
    border: none;
}
.prod .adress{
    padding-left: 20px;

}
.prod .metapro {
    padding-left: 20px;
    font-size: 14px;
    font-style: italic;
    clear: both;
}
.prod .imagepro {
    float:left;
    text-align: left;
    width: 230px;
    height: inherit;
}
.prod .imagepro .imagefrm {
    width: 200px;
    height: 180px;

}
.prod .infopro{
    float:left;
    width: 700px;
    height: inherit;
}
.prod .infopro .propapp{

    height: 20px;
    width: inherit;
    float: left;
    padding-left: 20px;
    margin-bottom: 5px;

}
.prod .infopro .propapp .casel{
    float: left;
    margin-right: 10px;
}
.prod .pricebox{
    float:left;
    width: 140px;
    margin-top: 115px;
}
.prod .pricebox .price{
    color: #424954;
    font-family: Verdana;
    padding-right: 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: right;
}
.prod .pricebox .discprice{
    color: #CC0000;
    font-family: Verdana;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}
.prod .pricebox .details-buttons{
    margin-left: 11%;
}
.prod .pricebox .details-buttons ul {
    margin: 0;
    padding: 0;
}
.prod .pricebox .details-buttons	ul li {
    display: inline-block;
    margin-left: 10px;
}
.prod .pricebox .details-buttons	ul li a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.prod .pricebox .details-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}
/* Paginetor Style*/
#pagination {
    display: flex;
    min-width: 1110px;
    justify-content: center;
    font-size: 20px;
}
#pagination a {
    border-bottom: none;
    color: #00bcd4
}

/* Details Style */
.details{
    min-width: 900px;
    display: block;
}
.details    h1{
    color: #00bcd4;
    display: flex;
    justify-content: center;
    margin-top: 20px
}
.details .imgdet{
    text-align: center;
    margin-bottom: 10px;
}
.details .descr{
    margin: 20px 0;
    text-align: left;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 25px;
}
.details .tablecar{
    display: flex;
    justify-content: center;
}
.details .tablecar  table {
    border-collapse: collapse;
    width: 100%;
}
.details .tablecar  th, td {
    text-align: center;
    padding: 8px;
}
.details .tablecar  tr:nth-child(even){
    background-color: #f2f2f2;
}
.details .tablecar  th {
    background-color: #00bcd4;
    color: white;
}
.details .tablecar .checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.details .tablecar .checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: green;
    border-radius:11px;
    left:0;
    top:0;
}
.details .tablecar .checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}
.details .tablecar .checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}

/* F.A.Q. style */
.faq{
    margin-bottom: 10px;
    min-width: 1110px;
}
.faq h2{
    text-align: center;
}
.faq .faqdom{
    font-weight: bolder;
    margin-top: 30px;
    border-bottom: 2px dashed #00bcd4;

}
.faq .faqrisp{
    font-style: italic;
    margin-bottom: 20px;

}

/* Responsive Style */
@media (max-width: 1200px) {
    .banner #search-section input.main-button {
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner #search-section input.searchText {
        float: none;
        width: 100%;
    }
    #search-section ul {
        text-align: center;
        margin-top: 80px;
    }
    #search-section ul li {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    #search-section ul li fieldset label {
        font-size: 12px;
        margin-left: 5px;
    }
    #search-section ul li fieldset label em {
        font-size: 13px;
    }
    .contact-us .right-content ul li {
        text-align: center;
        width: 100%;
    }
    .contact-us .right-content ul li i {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 991px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 10px;
    }
    .functional-buttons {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translate(-50%);
        margin-left: 15px;
    }
    .banner #search-section fieldset button {
        margin-top: 0px;
    }
    .banner #search-section fieldset input {
        width: 100%;
        min-width: 280px;
        margin-bottom: 30px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }
    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e!important;
    }
    .navbar .navbar-nav .active>.nav-link {
        color: #00bcd4!important;
    }
    .about-us .left-image {
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .about-us .right-content,
    .contact-us .right-content {
        margin-left: 0px;
    }
    .contact-us .contact-form {
        margin-right: 0px;
        margin-bottom: 45px;
    }
    .contact-us .right-content ul {
        margin-bottom: 30px;
    }
    .contact-us .right-content ul li {
        text-align: left;
        width: 100%;
    }
    .contact-us .right-content ul li i {
        margin-left: 0px;
    }
}
@media (max-width: 767px) {
    .pricing-item  {
        margin-bottom: 55px;
    }
    .footer-item {
        margin-bottom: 60px;
    }
    footer .sub-footer {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .functional-buttons	ul li:first-child a {
        padding: 6px 10px;
        letter-spacing: 0px;
    }
    .functional-buttons	ul li:last-child a {
        padding: 6px 10px;
        letter-spacing: 0px;
    }
    .functional-buttons {
        margin-left: 7.5%;
    }
    .functional-buttons	ul li {
        display: inline-block;
        margin-left: 3px;
    }
    .navbar .navbar-toggler {
        right: 20px;
    }
    .background-header .functional-buttons	ul li:first-child a {
        padding: 6px 10px;
        letter-spacing: 0px;
    }
}

/* Style BackGround Register-Login*/
.bg_image{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/bg-logreg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 300px;
    background-position: center center;
    margin-bottom: -20px;
}

.screen__login {
    background: linear-gradient(90deg, #00BCD2, #3b5998);
    position: relative;
    height: 700px;
    min-width: 800px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 120px;
}
.screen__register {
    background: linear-gradient(90deg, #00BCD2, #3b5998);
    position: relative;
    height: 1000px;
    min-width: 800px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 120px;
}
.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}
.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}
.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}
.screen__background__shape1 {
    height: 620px;
    width: 620px;
    background: #FFF;
    top: 39px;
    right: 92px;
    border-radius: 72px;
}

.screen__background__shape2 {
    position: absolute;
    height: 250px;
    width: 800px;
    background: #FFF;
    top: 370px;
}

.screen__background__shape3 {
    height: 620px;
    width: 620px;
    background: #FFF;
    bottom: 39px;
    right: 92px;
    border-radius: 72px;
}

/*Log-In Style*/
.login {
    width: 340px;
    padding: 10px 60px;
    padding-top: 20%;
    padding-bottom: 20%;
    margin: 0 auto;
}
.login__field {
    display:block;
    padding: 20px 0px;
    position: relative;
}

.login__title {
    margin-bottom: 20px;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition: .2s;
}
.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}
.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #00BCD5;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 50%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5c5696;
    cursor: pointer;
    transition: .2s;
}
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

/* Register Style */
.register-wrapper {
    display: flex;
    width: 100%;
}
.register__center {
    margin: auto;
}
.height-100 {
    height:100%;
}
.register {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.register__field {
    padding-top: 20px;
    position: relative;
}
.register__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}
.register__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition: .2s;
}
.register__input:active,
.register__input:focus,
.register__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}
.register__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 90px;
    border-radius: 26px;
    border: 1px solid #00BCD5;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 30%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5c5696;
    cursor: pointer;
    transition: .2s;
}
.register__submit:active,
.register__submit:focus,
.register__submit:hover {
    border-color: #6A679E;
    outline: none;
}
.genere{

    position: inherit;
    top: 26px;
    left: 18px;

}
.calendario{
    margin:31px 0;
}
.register__fieldset{
    margin: 10px 0px;
}
.register-fieldset {
    padding: 10px 15px 15px 15px;
    margin: 15px 0px;
    border-style: solid;
    border-color: #D1D1D4;
    border-left-style: none;
    border-right-style: none;
}
.register-fieldset:hover {
    padding: 10px 15px 15px 15px;
    margin: 15px 0px;
    border-color: #6A679E;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    transition: .2s;
}
#leftreg{

    width:180px;

}
#rightreg {

    width:300px;

}

/* Truncating Text */
.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* Prevents Div Overlapping */
.no-overlap {
    min-width: 400px;
}

/* Sets Image Size in "details.blade.php" */
.imgsize {
    width: 600px;
    height: 400px;
}
/*Style SideBar*/
.sidebar{
    position: fixed;
    padding-top: 20px;
}
.sidebar a{
    display: block;
    padding: 10px 20px;
    color: #1e1e1e;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.sidebar a:hover{
    color: #00bcd4;
    margin-left: 20px;
    transition: 0.4s;
}

/* CSS for filters " */
.filters-section {
    margin-top: 50px;
    background-color: #f7f7f7;
    z-index: 9999;
}

.filter-section-floating {
    position: fixed;
    border-style: solid;
    border-color: #333;
    margin-top: -100px;
}

#filter-adapter {
    height: 100px;
}

.filter-hide {
    display: none;
}

.filter-form {
    min-width: 1110px;
    padding: 10px 0px;
}

.filter-fieldset {
    padding: 10px;
    margin-bottom: 5px;
}

.section-heading {
    text-align: center;
}

.filter-wrap {
    display: flex;
    justify-content: center;
    float: left;
    width: 50%;
}

.filter-label {
    text-align: right;
    line-height: 30px;
    margin-right: 5px;
}

.filter-postinput {
    line-height: 30px;
    margin-left: 5px;
}

.filter-input {
    text-align: right;
    width: 150px
}

/* CSS for Radio Button in Filters */
.filter-wrap-radio {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-wrap-radio .filter-wrap {
    display: flex;
    justify-content: left;
    align-content: center;
    float: left;
    width: 100%;
}

.filter-radio-input {
    margin-left: 20%;
    margin-top: 8px
}

.filter-radio-label {
    line-height: 30px;
    margin-left: 10px;
}

/* Grid Wrapper */
.filter-wrap-checkbox {
    display: grid;
    grid-template-columns: 45% 25% 30%;
    gap: 10px;
}

.filter-wrap-checkbox .filter-wrap {
    display: flex;
    justify-content: left;
    align-content: center;
    float: left;
    width: 100%;
}

.filter-checkbox-input {
    margin-left: 10%;
    margin-top: 8px
}

.filter-checkbox-label {
    line-height: 30px;
    margin-left: 10px;
}

.filter-wrap-checkbox .filter-label {
    margin-right: 0px;
}

.filter-wrap-inline {
    display: inline-block;
    width: 100%;
}

.filter-wrap-inline .filter-label {
    float: left;
    margin-left: 5px;
    margin-right: 0px;
}

.filter-wrap-inline .filter-input {
    float: right;
    width: 100px;
    margin-right: 5px;
}

/* Filter Form Buttons */
.flex-center-filter-button {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10%
}
.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.functional-buttons-normal {
    margin: 10px;
    cursor: pointer;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.functional-buttons-normal:hover {
    color: #00bcd4;
    background-color: #fff;
}

.functional-buttons-dark {
    margin-left: 10px;
    background-color: #333;
    border: 2px solid #333;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    cursor: pointer;
}

.functional-buttons-dark:hover {
    color: #000000;
    background-color: #fff;
}

/* Style the navbar (filters) */
#filter-navbar {
    overflow: hidden;
    background-color: #333;
    cursor: pointer;

}

/* Navbar text (filters) */
.filter-section-title {
    float: left;
    display: inline-block;
    padding: 10px;
}

#filter-title {
    color: #f7f7f7;
    text-align: center;
    margin-bottom: 0px;
}

.filter-section-icon {
    display: flex;
    padding: 14px;
    margin-bottom: 0px;
    align-content: center;
}

/* Toggle Button Animations */
.nav-icon{
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.nav-icon span{
    background-color:#f7f7f7;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: 0px;
    left: 0px;
}
.nav-icon span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 8px;
    left: 0px;
}
.nav-icon span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: 0px;
    left: 0px;
}

.nav-icon.open span:nth-child(1){
    left:0px;
    top: 9px;
    width: 25px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 100ms;
}
.nav-icon.open span:nth-child(2){
    left:0px;
    top: 15px;
    width: 15px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 100ms;
}
.nav-icon.open span:nth-child(3){
    left:10px;
    top: 15px;
    width: 15px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
}

/* Classi di errori */
.errors {
    color: red;
    margin-bottom: 0px;
}

.chat-errors {
    color: red;
    margin-bottom: 0px;
    display: inline-block;
    float: left;
}

.validation-error {
    background-color: #f3e4e4;
    border: solid 2px #ff0000;
}

/* Classi per la chat */
#chat-container{
    box-sizing: border-box;
    width:850px;
    height:800px;
    background:#eff3f7;
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 10px;
}
.chat-aside{
    width:35%;
    height:800px;
    background-color:#3b3e49;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
}
.chat-main{
    width:65%;
    height:800px;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
}

.chat-aside .chat-header{
    padding:15px 20px 30px 20px
}
.chat-aside .chat-header div{
    width:100%;
    height:70px;
    line-height:50px;
    padding:12px 0px 0px 20px;
    border:none;
    border-radius:3px;
    color:#fff;
}
.chat-aside input::placeholder{
    color:#fff;
}
.chat-aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:690px;
}
.chat-aside li{
    padding:10px 0;
}
.chat-aside li:hover{
    background-color:#5e616a;
}

.chat-aside .clicked{
    background-color:#5e616a;

}

#chat-container h2,h3{
    margin:0;
}
.chat-aside .profile-picture{
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 8px;
    height: 50px;
    width: 50px;
    background-color: #fff;
}
.chat-aside .profile-picture div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00a4b9;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 0;

}
.chat-aside li img{
    border-radius:50%;
    margin-left:20px;
    margin-right:8px;
    width: 50px;
    height: 50px;
}
.chat-aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
}
.chat-aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
}
.chat-aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
}

.status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
}
.green{
    background-color:#58b666;
}
.orange{
    background-color:#f6be5d;
}
.blue-default{
    background-color:#6fbced;
}
.blue{
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
}
.chat-main .chat-header .profile-picture{
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 8px;
    height: 60px;
    width: 60px;
    background-color: #fff;
}
.chat-main .chat-header .profile-picture div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00a4b9;
    font-size: 28px;
    height: 60px;
    width: 60px;
    margin: 0;
}

.chat-main .chat-header{
    height:110px;
    padding:25px 20px 20px 40px;
}
.chat-main .chat-header > *{
    display:inline-block;
    vertical-align:top;
}
.chat-main .chat-header img{
    border-radius:50%;
    margin-left:0px;
    margin-right:8px;
    width: 60px;
    height: 60px;
}
.chat-main .chat-header div{
    margin-left:10px;
    margin-right:145px;
}
.chat-main .chat-header h1{
    font-size:20px;
    margin-bottom: 0px;
}
.chat-main .chat-header h2{
    font-size:15px;
    margin-bottom:0px;
    font-weight:normal;
    color:#555;
}
.chat-main .chat-header h3{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
}

#chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:535px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}
#chat li{
    padding:10px 30px;
}
#chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
}
#chat h3{
    color:#bbb;
}
#chat .entete{
    margin-bottom:5px;
}
#chat .message{
    padding:10px 15px;
    color:#fff;
    line-height:25px;
    max-width:85%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
}
#chat .me{
    text-align:right;
}
#chat .you .message{
    background-color:#58b666;
}
#chat .me .message{
    background-color:#6fbced;
}
#chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
    border-color: transparent transparent #58b666 transparent;
    margin-left:10px;
}
#chat .me .triangle{
    border-color: transparent transparent #6fbced transparent;
    margin-left:445px;
}

.chat-main .chat-footer{
    height:155px;
    padding:20px 30px 10px 20px;
}
.chat-main .chat-footer .default-div{
    resize:none;
    border:none;
    background-color: #fff;
    display:block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
}
.chat-main .chat-footer textarea{
    resize:none;
    border:none;
    display:block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
}
.chat-main .chat-footer textarea::placeholder{
    color:#ddd;
}
.chat-main .chat-footer img{
    height:30px;
    cursor:pointer;
}
.chat-main .chat-footer input{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#fff;
    background-color:#6fbced;
    border-color:#6fbced;
    vertical-align:top;
    margin:0px 10px 5px 20px;
    display: inline-block;
    float: right;
}

.chat-main .chat-footer h5{
    text-decoration:none;
    vertical-align:top;
    margin-top:7px;
    display: inline-block;
    float: left;
}

.chat-main .hidden {
    display: none;
}

/* Popup con i dettagli del Locatario */
#pop{
    position             : absolute;
    z-index              : 999;
    padding              : 10px;
    background           : #eee;
    border               : 1px solid #A2ADBC;
    -moz-border-radius   : 20px;
    -webkit-border-radius: 20px;
    margin               : 0px;
    -webkit-box-shadow   : 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow           : 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

/* Style list offer */
.container-listoffer{
    margin-top: 10px;

}
.element-list{
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #00bcd4;
    margin-bottom:10px;
}
.element-list:hover{
    background-color: #F0FFFF;
}
.titolo-indirizzo{
    padding: 0;
    list-style: none;
    padding-top: 6%;

}
.titolo-indirizzo li{
    margin-bottom: 10px;

}
.offerlist-buttons {
    margin-left: 11%;
}
.offerlist-buttons	ul {
    margin: 0;
    margin-top: 7%;
    padding: 0;
}
.offerlist-buttons	ul li {
    display: inline-block;
    margin-bottom: 11px;
}
.offerlist-buttons	ul li a {
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 15px;
    transition: all 0.5s;
}
.offerlist-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}
.offerta{
    padding-top: 10px;
    border-left:1px solid #00bcd4;
    border-bottom: 1px solid #00bcd4;
    border-right: 1px solid #00bcd4;
    margin-top: -10px;
    background-color: #F0FFFF;
    margin-bottom: 10px;
}
.offerta table{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.img-list{
    height: 100px;
    width: 120px;
    margin: 6px 0px;
}
.prop{
    padding-top: 10px;
    border-left:1px solid #00bcd4;
    border-bottom: 1px solid #00bcd4;
    border-right: 1px solid #00bcd4;
    margin-top: -10px;
    background-color: #F0FFFF;
    margin-bottom: 10px;
}
.notover{
    min-width: 1000px;
}
.col-md-9{
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%
}
.col-md-3{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%
}
.center_lario{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}
.data_lario{

    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;

}
.nada_prop{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    color: midnightblue;
}
.new_offer{
    text-align: center;
    font-size: xxx-large;
    margin-top: 40px;
    padding-right: 55px;
    color: mediumblue;
    font-weight: 400;
    font-style: oblique;

}
.statapresa{
    font-style: oblique;
    font-size: larger;
    color: crimson;
    text-transform: uppercase;
    font-weight: bold;

}

.laipresa{
    font-style: oblique;
    font-size: larger;
    color: #00cc66;
    text-transform: uppercase;
    font-weight: bold;

}

/* Style list faq */
.container-listfaq{
    margin-top: 10px;

}
.domanda{
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #00bcd4;
    margin-bottom:10px;
}
.domanda:hover{
    background-color: #F0FFFF;
}
.risposta{
    padding-top: 10px;
    border-left:1px solid #00bcd4;
    border-bottom: 1px solid #00bcd4;
    border-right: 1px solid #00bcd4;
    margin-top: -10px;
    background-color: #F0FFFF;
    margin-bottom: 10px;
}
.faqlist-buttons {
    margin-left: 11%;
}
.faqlist-buttons	ul {
    margin-left: 20%;
    margin-top: 3%;
}
.faqlist-buttons	ul li {
    display: inline-block;
    margin-bottom: 11px;
}
.faqlist-buttons	ul li a {
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 15px;
    transition: all 0.5s;
}
.faqlist-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}
.new_faq{
    text-align: center;
    font-size: xxx-large;
    margin-top: 8px;
    color: mediumblue;
    font-weight: 400;
    font-style: oblique;

}


/* CSS per le form relative alle offerte */
.insertform{
    margin: 10px 0px;
    padding: 10px;
}

.insertform-hide {
    display: none;
}

.insertform-fieldset {
    padding: 10px 15px 15px 15px;
    margin: 25px 0px 10px;
    background-color: #f0ffff;
    border-color: #00bcd4;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.insertform-fieldset-hidden {
    padding: 15px;
    margin: 20px 0px 10px;
    background-color: #f0ffff;
    border-style: none;
}

.insertform-wrap-8 {
    display: flex;
    justify-content: center;
    float: left;
    width: 66.67%;
}

.insertform-wrap-6 {
    display: flex;
    justify-content: center;
    float: left;
    width: 50%;
}

.insertform-wrap-4 {
    display: flex;
    justify-content: center;
    float: left;
    width: 33.33%;
}

.insertform-label {
    text-align: left;
    line-height: 30px;
    margin-right: 5px;
}

.insertform-text-input {
    text-align: left;
    width: 200px;
    height: 30px;
}

.insertform-text-input:hover {
    border-style: solid;
    border-color: #00bcd4;
    border-width: 1px;
}

.insertform-textarea-input {
    text-align: left;
    width: 100%;
}

.insertform-textarea-input:hover {
    border-color: #00bcd4;
}

.insertform-numeric-input {
    text-align: right;
    width: 120px;
}

.insertform-numeric-input:hover {
    border-style: solid;
    border-color: #00bcd4;
    border-width: 1px;
}


.insertform-date-input {
    text-align: center;
    width: 160px;
    height: 30px;
}

.insertform-date-input:hover {
    border-style: solid;
    border-color: #00bcd4;
    border-width: 1px;
}

.insertform-select-input {
    text-align: left;
    width: 150px;
    height: 30px;
}

.insertform-select-input:hover {
    border-color: #00bcd4;
}

.insertform-file-input{
    padding-top: 3px;
}

.insertform-file-input:hover{
    color: #00bcd4
}

/* Style Opziona in dettagli */
.option-buttons	ul {
    margin-top:30px;
    padding:0;
}
.option-buttons	ul li {
    display: inline-block;
       margin: 0px 35px;
}
.option-buttons	ul li a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.option-buttons	ul li a:hover {
    color: #00bcd4;
    background-color: #fff;
}

/* CSS per scheda utente */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 420px;
  margin: 50px auto;
  text-align: center;
}

.card .title {
  padding: 10px 0px;
}

.card .title p {
  font-size: 20px;
}

.card .paragraph {
  padding: 10px 0px;
  border-top: 2px dashed #00bcd4;
}

.card .paragraph p {
  font-size: 16px;
}

.card span {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px;
  color: white;
  background-color: #00bcd4;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.card a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #00bcd4;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.card a:hover {
  opacity: 0.7;
}

.profileform-container {
    margin-left: 10px;
}

.profileform-wrap {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
