/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 giu 2022, 00:37:58
    Author     : Lorenzo
*/
body {
    font-family: Avenir, Helvetica;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}
h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 3% 20% 1% 20%;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 3% 20% 1% 20%;
}
p {
    font-size: 1.2em;
    margin: 1% 20%;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    text-align: center;
}

.col-md-6{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-md-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
    margin-bottom:  10px;
    height: 160px;
    
}

footer{
    font-family: Avenir, Helvetica;
    text-align: center;
    font-size: 0.8em;
    margin: 0 20%;
}
.block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#f2f2f2;
}
